*{
  font-family: "Fredoka", sans-serif;
}

.color-primary{
  background-color: #f43543;
}

.color-primary-text{
  color: #f43543;
}

.btn-styles{
  border: none;
}

.btn-nav{
  font-weight: bolder;
}

.btn-nav:hover{
  color: #f43543 !important;
  background-color: #fff !important;
  font-weight: bolder;
}

.card{
  height:600px !important;
}
.card-img-top{
  width: 100%;
  height: 45% !important;
  object-fit: cover;
  object-position: center;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 55% !important;
}

.content{
  background-color: #f43543 !important;
  color: white !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.dim{
  height: 110vh !important;
}

.btn-style{
  background-color: #fff !important;
  color: #f43543 !important;
}

.content-container{
  margin-top: -50px;
}

.btn-styles{
  color: #fff !important;
  background-color: #f43543 !important;
}

.footer{
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #f43543 !important;
  color: white !important;
  font-weight: bolder;
}

.footer a{
  color: white !important;
}